<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jit.dyy.dosleepserver.repository.SoundtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jit.dyy.dosleepserver.bean.Soundtype">
        <id column="type_id" property="typeId" />
        <result column="sound_type" property="soundType" />
        <result column="type_state" property="typeState" />
    </resultMap>

</mapper>
